/* general */
*{
  font-family: "Share Tech Mono", Sans-serif;
} 

body{
  background-color: #000000;
}

.bg-cement{
  background-color: #656565 ;
}

.bg-black{
  background-color: #000000;
}

.text-cement{
  color: #656565;
}

.text-orange{
  color: #b7b7b7;
}

.opacity-40{
  opacity: 0.4
}

.fw-600{
  font-weight: 600;
}

.btn.btn-wood {
  background-color: #c9a47e;
  color: #fff;
  border-color: #c9a47e;
}

.btn.btn-wood:hover {
  background-color: #70573e;
  color: #fff;
  border-color: #70573e;
}

.text-size-5{
  font-size: 4rem;
  line-height : 1rem;
}

.input{
  border: 1px solid rgb(32, 32, 32);
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  background-color: gray;
}

.testimonios {
  background-image: url('../images/abstract-g21d9c2eac_1920.jpg');
  animation: slide 25s linear infinite;
}
@keyframes slide {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}


@media (min-width: 1200px) {
  .px-xl-15 {
    padding-left: 15rem;
    padding-right: 15rem;
  }
  .px-xl-10 {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .px-xl-7 {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

.subtitulo3{
  font-size: 1.15rem;
  font-weight: 400;
  color: #646262;
  margin-bottom: 20px;
}

/* carousel inicial */
.carousel{
    height: 85vh;
}
.tamanio-carousel{
  height: 85vh;
}
.carousel-texto {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 9999;
  /*background-color: rgba(0, 0, 0, 0.7);*/
  padding: 20px;
  color: white;
  padding-left: 10px;
}
@media (min-width: 1200px) {
  .carousel-texto {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 9999;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    padding: 20px;
    color: white;
    padding-left: 100px;
  }
}

/* carousel ambientes */
.carousel-ambientes{
  height:250px;
}

/* testimonios */
.rating {
  display: inline-block;
  font-size: 1.2rem;
}
.rating .fa {
  color: yellow;
}
.card-zoom:hover {
  transform: scale(1.08);
  transition: transform 0.5s ease;
}

/* proyectos */
#proyectos img{
  max-height: 400px;
  transition: transform 0.3s ease-in-out;
}

h1 .text-white{
  color: #fff;
}

.col-12{
  overflow: hidden; 
}

.img-hover {
  position: relative;
}

.img-hover .oscurecer {
  transition: opacity 0.3s ease-in-out;
}

.img-hover:hover .oscurecer {
  transform: scale(1.2);
  opacity: 0.2;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  color: #fff;
  padding: 0;
  margin: 0;
}

.img-hover:hover .overlay {
  opacity: 1;
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 5px;
  background-color: #1d1d1d;
}

/* Estilo para el cursor de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #de682d;
  border-radius: 5px;
}

/*  loading  */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
